In [1]:
import numpy as np 
import pandas as pd
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [7]:
sale =pd.read_csv('Date and model wise sale.csv')

In [8]:
sale.head()

        Date Model  Count
0  31-Aug-16   M45      5
1  31-Aug-16  M121      3
2  31-Aug-16  M122      4
3  31-Aug-16   M91     10
4  31-Aug-16   M66     57

In [9]:
print("Shape of sale dataset",sale.shape)

Shape of audit dataset (46116, 3)

In [10]:
sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46116 entries, 0 to 46115
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    46116 non-null  object
 1   Model   46116 non-null  object
 2   Count   46116 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [11]:
# number of unique values
sale.nunique()

Date      971
Model     124
Count    1191
dtype: int64

In [12]:
#checking for missing values
sale.isnull().sum()

Date     0
Model    0
Count    0
dtype: int64

In [13]:
sale.columns

Index(['Date', 'Model', 'Count'], dtype='object')